*{
  margin: 0;
}
body{
  background-color: rgb(28, 28, 28);
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.heading {
  font-family: "Lexend", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  color: #faa405;
}

button{
height: 42px;
font-family: "Merriweather", serif;
font-size: 14px;
font-weight: 800;
border: none;
border-radius: 5px;
letter-spacing: 1px;
width: 305px;
background-color: #ffc13c ;

}
button:hover{
    background: linear-gradient(0deg, rgb(187, 221, 206) 0%, #fdbb2d 100%);
}

input {
border-radius: 5px;
width: 80px;
height: 50px;
margin-bottom: 30px;
color: white;

}
img {
  height: 48px;

}
