
body {
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  margin-left: 15px;
  color: rgb(27, 25, 25);
}
img {
  margin-left: 15px;
  margin-top: 9px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-heading {
  font-size: 31px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.age{
  margin: 20px;
  font-family: "Merriweather", serif;
  font-size: 19px;
  font-weight: 600;
}
#input-age{
    height: 30px;


}
#input-age:hover{
border: 2px solid rgb(0, 75, 0);

}

button {
    margin-bottom: 30px;
  margin-top: 35px;
  width: 170px;
  height: 44px;
  background-color: #000000;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  font-family: "Merriweather", serif;
font-weight: bold;
  box-shadow: -1px 3px 3px 0 rgba(56, 56, 56, 0.2);
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
}
button:hover {
  background-color: transparent;
  transition: 0.1s all ease-in-out;
  color: #000000;
  box-shadow: -1px 3px 3px 0 rgb(83, 83, 83);
}
#message {
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    margin-bottom: 100px;
    font-family: "Merriweather", serif;
    letter-spacing: 1px;
}